<html>
    <head>
        <title>{% block title %}My Djange Project{% endblock %}</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'calculator/style.css' %}">
    </head>
    <body>
        <header>
            <h1>Simple Calculator</h1>
            </header>
        <main>
            {% block content %}
            <!--Child template will inject content here-->
            {% endblock %}
            </main>
        <footer>
            <p>&copy; 2025 Yashwanth</p>
            </footer>
        </body>
    </html>